@import "../vars.scss";
@import "../mixins.scss";


header.bar {
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: column;

  place-items: center;

  h2 {
    font-size: 24px;
    margin: 7px;
  }

  .btns {
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: row;

    place-content: center;

    button.navBtn {
      border: none;
      display: flex;
      flex-direction: row;
      justify-content: center;
      place-items: center;
      background-color: $gray-blue;
      margin: 0;
      width: 10%;
      height: 100%;
      @include box-arrow(bottom, transparent);

      &::after {
        transition: all .4s ease-out;
      }

      &:hover {
        cursor: pointer;
        @include box-arrow(bottom, $gray-blue, 15px);
        transition: all 1s ease-out;
      }
    }
  }
}