@import url("https://fonts.cdnfonts.com/css/bahnschrift");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400&display=swap");

$dark-blue: #2A4B67;
$light-blue: #437893;
$gray-blue: #AAAFC6;
$beige: #E4C2C0;
$light-orange: #F49A82;